<!DOCTYPE html>
<html>
    <head> 
            
        <title>
            Trang Chủ
        </title>
    </head>
    <body>
            <div class="header">
                    <h1>HaoHao Store</h1>
                </div>
                <div class="topnav">
                    <a href="HaoHaoStore.html">Trang chủ</a>
            
                    <a href="shop.html">Shop </a>
            
                    <div class="nav-about">
                        <a href="shirt.html">Áo đá banh</a>
                        <div class="subnav subnav-about subnav-shirt">
                            <a href="">Áo câu lạc bộ</a>
                            <a href="">Áo tuyển quốc gia</a>
                            <a href="">Áo bóng đá không logo</a>
                            <a href="">Áo bóng đá trẻ em</a>
                        </div>
                    </div>
                    <div class="nav-about">
                        <a href="shoes.html">Giày đá banh</a>
                        <div class="subnav subnav-about subnav-shoes">
                            <a href="">Giày cỏ nhân tạo</a>
                            <a href="">Giày cỏ tự nhiên</a>
                            <a href="">Giày futsal</a>
                        </div>
                    </div>
                    <a href="https://www.facebook.com/ngotrieuhao">Facebook</a>
                    <a href="login.html" style="float:right">Đăng nhập</a>
                    <a href="regist.html" style="float:right">Đăng ký</a>
                </div>
        <Center><h1><p>Đăng Nhập Tài Khoản</p></h1></Center>
                    <center>   
                    <table border="1">
                        <tr>
                            <Center>
                            <th>Username : </th>
                            <td><input type="text"></td>
                            </Center>
                        </tr>
                        <tr>
                            <Center>
                            <th>password : </th>
                            <td><input type="password"></td>
                            </Center>
                            </tr>
                    </table>
                    <br>
                    </center>
                    <Center>
                    <a href ="HaoHaoStore.html"  style="cursor: grabbing">
                        <input type="button" value="Đăng Nhập"> 
                    </a>
                    
                    <div>
                    <a href="Registration.html" style="cursor: grabbing">
                        <input type="button" value="Đăng Ký" />
                    </a>
                    </Center>
                    </Center>
                </form>
    </body>
</html>